.page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authForm {
    font-weight: 700;
    padding: 50px;
    border-radius: 20px;
    border: 5px solid #5555ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
}

.formLabel {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}