.credential {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  border-radius: 20px;
}

.credentialInfoItem {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.passwordInputReadOnly {
  outline: 0 !important;
  background: transparent !important;
  border: 0 !important;
}

.credentialButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
